#scorp-icon {
	height: 40px;
	width: 40px;
	position: fixed;
	right: 60px;
	bottom: 0;
	margin-bottom: 10px;
	cursor: pointer;
	opacity: 0.6;
}

#scorp-modal {
	height: 600px;
	width: 500px;
	position: fixed;
	bottom: 52px;
	right: -10px;
	visibility: hidden;
}

#scorp-container {
	height: 568px;
	width: 468px;
	position: relative;
	top: 15px;
	left: 15px;
	border: 1px solid #bbb;
	background-color: white;
	box-shadow: 0px 0px 20px #888;
}

#scorp-header {
	height: 115px;
	background-color: rgb(153, 10, 32);
	text-align: center;
}

#scorp-header-image {
	margin-top: 24px;
	margin-bottom: -16px;
	margin-left: -32px;
	margin-right: 16px;
	height: 64px;
	width: 64px;
}

#scorp-title {
	font-family: Verdana;
	font-size: 300%;
	color: white;
}

#scorp-exit {
	color: #ccc;
	cursor: pointer;
	position: absolute;
	top: 4px;
	right: 12px;
	font-size: 200%;
}

#scorp-content {
	margin: 10px;
}

#scorp-modal table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #999;
}

#scorp-modal table .add-setup-task {
	cursor: pointer;
}

#scorp-modal table .add-setup-task:hover {
	text-decoration: underline;
}

#caret-div {
	height: 0;
	width: 0;
	position: absolute;
	top: 584px;
	left: 395px;
	border-top: 15px solid white;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
}

#caret-div-border {
	height: 0;
	width: 0;
	position: absolute;
	top: 585px;
	left: 395px;
	border-top: 15px solid #bbb;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
}
