@font-face {
	font-family: NewRocker;
	src: url('https://rjhuffaker.github.io/NewRocker.ttf');
}

.scorpinated, .scorpinated * {
	font-family: NewRocker;
	font-weight: normal;
	font-size: 12px;
	color: black;
}

button.scorpinated {
	font-size: 14px;
}

button.scorpinated:hover {
	background-color: #9B6E1D;
	color: white;
}

#otherTaskButtons button {
	margin-right: 8px;
}

#traverse-div {
	padding: 10px;
	width: 100%;
}

#traverse-div a {
	cursor: pointer;
	color: #d1d5d8;
	font-family: NewRocker;
	font-size: 12px;
}

#scorp-icon {
	height: 40px;
	width: 40px;
	position: fixed;
	right: 60px;
	bottom: 0;
	margin-bottom: 10px;
	cursor: pointer;
	opacity: 0.6;
}

#scorp-modal {
	height: 600px;
	width: 500px;
	position: fixed;
	bottom: 52px;
	right: -10px;
	display: none;
}

#scorp-modal.expanded {
	width: 600px;
}

#scorp-modal.show {
	display: block;
}

#scorp-container {
	height: 568px;
	width: 468px;
	position: relative;
	top: 15px;
	left: 15px;
	border: 1px solid #bbb;
	background-color: white;
	box-shadow: 0px 0px 20px #888;
}

#scorp-header {
	height: 115px;
	background-color: rgb(153, 10, 32);
	text-align: center;
}

#scorp-header-image {
	margin-top: 24px;
	margin-bottom: -16px;
	margin-left: -32px;
	margin-right: 16px;
	height: 64px;
	width: 64px;
}

#scorp-title {
	font-family: NewRocker;
	font-size: 500%;
}

#scorp-exit {
	color: #ccc;
	cursor: pointer;
	position: absolute;
	top: 4px;
	right: 12px;
	font-size: 200%;
}

#scorp-content {
	margin: 10px;
}

#scorp-modal table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #999;
}

#scorp-modal table .add-setup-task {
	cursor: pointer;
}

#scorp-modal table .add-setup-task:hover {
	border: 1px solid black;
}

#scorp-modal table .add-setup-task:hover td {
	background-color: rgb(231, 191, 191);
}

#scorp-tab {
	position: absolute;
	z-index: 8000;
	width: 240px;
	height: 210px;
	top: 132px;
	left: -15px;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px #888;
	border-radius: 5px 0px 0px 5px;
}

#scorp-tab-label {
	position: relative;
	height: 30px;
	width: 210px;
	transform: rotate(270deg);
	top: 90px;
	left: -90px;
	box-sizing: border-box;
	background-color: rgb(153, 10, 32);
	border-radius: 5px 5px 0px 0px;
	text-align: center;
}

#scorp-tab-content {
	display: relative;
	height: 210px;
	width: 210px;
	margin-top: -30px;
	margin-left: 30px;
	box-sizing: border-box;
	background-color: white;
	overflow: auto;
}

#caret-div {
	height: 0;
	width: 0;
	position: absolute;
	top: 584px;
	left: 395px;
	border-top: 15px solid white;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
}

#caret-div-border {
	height: 0;
	width: 0;
	position: absolute;
	top: 585px;
	left: 395px;
	border-top: 15px solid #bbb;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
}

#scorp-menu {
	position: relative;
	display: inline-block;
}

#scorp-menu-button {
	background-color: rgb(153, 10, 32);
	padding: 8px;
	min-height: 32px;
	min-width: 160px;
	border-radius: 3px;
	text-align: left;
	border: none;
	cursor: pointer;
}

#scorp-menu-button span {
	color: white;
	font-size: 14px;
	font-family: NewRocker;
}

#scorp-menu-button img {
	height: 24px;
	width: 24px;
	margin-top: -4px;
	margin-bottom: -4px;
	margin-right: 8px;
}

#scorp-menu-button:hover {
	background-color: rgb(183, 10, 32);
}

#scorp-menu-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

#scorp-menu-content a {
	color: black;
	padding: 6px 10px;
	text-decoration: none;
	font-size: 14px;
	font-family: NewRocker;
	display: block;
	text-align: left;
	cursor: pointer;
}

#scorp-menu-content textarea {
	padding: 6px 10px;
	
}

#scorp-menu-content a:hover {
	background-color: #ddd;
}

#scorp-menu-content.show {
	display: block;
}


